*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# Idea
.idea
/build/
out/

# Gradle
.gradle
!gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.gradletasknamecache

newyear-feature/